body {
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: cornflowerblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
}
.container {
    border: 1px linear;
    border-radius: 10px;
    margin: 20px;
    padding: 7px;
    width: 100%;
}
.navbar {
    text-align: center;
}
.sidebar {
    padding: 5px;
    margin: 5px;
}
.main {
    padding: 5px;
    margin: 5px;
    float: right;
    background-color: darkslategrey;
}
.card {
    padding: 10px;
    display: inline-block;
}
#fiveday {
    float: left;
}
#fivedaycard {
    float: left;
    background-color: d;
    width: 7rem;
    margin: 5px;
}

